<form [formGroup]="loginForm" (ngSubmit)="submit()" class="login-form">

  <input type="email" placeholder="E-mail" formControlName="email">
  <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
    <div *ngIf="email.errors.required">
      E-mail is required
    </div>
    <div *ngIf="email.errors.email">
      This is not a valid e-mail address
    </div>
  </div>

  <input type="password" placeholder="Password" formControlName="password">
  <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
    <div *ngIf="password.errors.required">
      Password is required
    </div>
    <div *ngIf="password.errors.pattern">
      <div>
        <ul style="margin: 0; padding: 0;">
          Password does not meet one of the requirements:
          <li>Minimum length of 8 characters</li>
          <li>At least one special character</li>
          <li>At least one lowercase letter</li>
          <li>At least one uppercase letter</li>
          <li>At least one digit</li>
        </ul>
      </div>
    </div>
  </div>

  <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
  <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
    <div *ngIf="confirmPassword.errors.confirmedValidator">
      Passwords do not match
    </div>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>